API_URL=http://localhost:8080
MONGO_HOST=mongodb://mongo:27017
PORT=8080
AUTH_ZERO_CLIENT_ID=adlfkdjfkdfj
AUTH_ZERO_REDIRECT_URL==https://faker.redirect_url
AUTH_ZERO_URL=https://sample.auth0.com
AUTH_ZERO_CALLBACK_URL=https://sample.auth0.com/login/callback
AUTH_ZERO_AUDIENCE=YOUR_API_AUDIENCE
AUTH_ZERO_STATE=STATE
REDIS_PORT=redis:6379
